.desktopHeader {
  align-items: center;
  justify-content: space-between;
  padding: 24px;

  @media (width <= 1086px) {
    display: none;
  }

  .logo {
    display: flex;
    gap: 12px;
    align-items: center;

    img {
      display: block;
      height: auto;
    }

    .logoText {
      font-family: Comfortaa, cursive;
      font-size: 20px;
      font-weight: 600;
      color: #53504a;
    }
  }
}

.mobileHeader {
  display: none;

  @media (width <= 1086px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
  }

  .iconButton {
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .centerLogo {
    position: absolute;
    left: 50%;
    display: flex;
    gap: 8px;
    align-items: center;
    transform: translateX(-50%);

    img {
      width: auto;
    }

    span {
      font-family: Comfortaa, cursive;
      font-size: 18px;
      font-weight: 600;
      color: #53504a;
    }
  }
}

.topNavDesktop {
  display: flex;
  gap: 32px;

  align-items: center;
  justify-self: center;

  ul {
    display: flex;
    gap: 40px;
    padding: 0 40px;
    list-style: none;

    li a {
      font-family: Rubik, sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: #53504a;
      letter-spacing: -0.48px;
      white-space: nowrap;
      text-decoration: none;

      &:hover {
        color: #e05f38;
      }
    }
  }
}

.topNavMobile {
  display: none;

  @media (width <= 986px) {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    padding: 24px;
    background: white;
  }

  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;

    li {
      width: 100%;

      a {
        display: block;
        width: 100%;
        padding: 12px 0;
        font-family: Rubik, sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #53504a;
        letter-spacing: -0.48px;
        text-decoration: none;

        &:hover {
          color: #007aff;
        }
      }
    }
  }
}

.langSwitcherWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 8px;

  & > div {
    margin-top: 2px;
  }
}

.logo {
  justify-self: start;
}

.headerWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.orderButtonWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
}

.orderButton {
  display: inline-flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  background: #e05f38;
  border: none;
  border-radius: 1000px;
  transition: filter 0.3s ease;

  &:hover {
    filter: brightness(1.1);
  }
}

.orderIcon {
  width: 30px;
  height: 30px;
}
