.card {
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #ebe9d8;
  border-radius: 12px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;

  &:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
  }
}

.cardWrapper {
  position: relative;
  display: inline-block;
}

.selected {
  background: #f5f3e5;
}

.imageWrapper {
  position: relative;
  height: 200px;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px 10px 0 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  padding: 20px;
}

.headerRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .title {
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    color: #53504a;
    letter-spacing: -0.72px;
  }

  .detailsBtn {
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    background: none;
    border: none;
  }
}

.description {
  flex-grow: 1;
  margin-top: 8px;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  color: #8e8e83;
  letter-spacing: -0.42px;
}

.bottomRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  font-family: Rubik, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.42px;

  .size {
    color: #53504a;
  }

  .price {
    color: #53504a;
  }
}

.infoIcon {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  padding: 2px 2px;
  background: var(--text_1, #53504a);
  border-radius: 1000px;
}

.bestSellerBadge {
  position: absolute;
  top: -30px;
  right: 10px;
  z-index: 2;
  width: 80px;
  height: 80px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    color: white;
    text-align: center;
    white-space: pre-line;
    transform: translate(-50%, -50%);
  }
}
