.card {
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #ebe9d8;
  border-radius: 12px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;

  &:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
  }
}

.selected {
  background: #f5f3e5;
}

.imageWrapper {
  height: 200px;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px 10px 0 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  padding: 20px;
}

.headerRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .title {
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    color: #53504a;
    letter-spacing: -0.72px;
  }

  .detailsBtn {
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    background: none;
    border: none;
  }
}

.description {
  flex-grow: 1;
  margin-top: 8px;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  color: #8e8e83;
  letter-spacing: -0.42px;
}

.bottomRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;

  .size {
    font-size: 14px;
    font-weight: 500;
    color: #53504a;
  }

  .price {
    font-size: 16px;
    font-weight: 600;
    color: #53504a;
  }
}
