.overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0 0 0 / 40%);

  .closeBtn {
    position: fixed;
    top: 24px;
    right: 24px;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    font-size: 32px;
    font-weight: 600;
    color: #53504a;
    cursor: pointer;
    background: white;
    border: none;
    border-radius: 50%;

    &:hover {
      background: #f0efeb;
    }
  }
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 800px;
  padding: 16px;
  background: #fff;
  border-radius: 24px;
  box-shadow: 0 8px 32px rgb(0 0 0 / 10%);
}

.modalIcon {
  margin-right: 12px;
}

.closeBtn {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 24px;
  color: #88857e;
  cursor: pointer;
  background: none;
  border: none;

  &:hover {
    color: #000;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  margin-bottom: 16px;
  background: #e05f38;
  border-radius: 20px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  font-family: Rubik, sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.72px;
  background: #e05f38;
  border-radius: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 16px;

  @media (width <= 768px) {
    flex-direction: column;
  }
}

.leftColumn,
.rightColumn {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 24px;
  background: #faf8ec;
  border-radius: 20px;
}

.description {
  font-family: Rubik, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  color: #53504a;
  letter-spacing: -0.42px;
  white-space: pre-line;
}

.image {
  width: 100%;
  height: auto;
  margin-top: auto;
  object-fit: cover;
  border-radius: 12px;
}

.section {
  padding: 4px 4px;
  border-radius: 20px;
}

.sectionTitle {
  margin-bottom: 12px;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #e05f38;
}

.property {
  display: flex;
  gap: 4px;
  margin-bottom: 8px;
  font-family: Rubik, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #53504a;

  .label {
    min-width: 100px;
    color: #8e8e83;
  }

  .value {
    flex: 1;
    color: #53504a;
  }
}
